@model IEnumerable<TodoListApp.WebApp.Models.TodoList>

@{
    ViewData["Title"] = "My To-do Lists";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New List</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th> </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <span class="disabled-link">Details</span> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>